/* @import "tailwindcss";

@theme {
  --breakpoint-lgx: 990px;
  --breakpoint-md-about: 800px;
  --breakpoint-md-hero: 755px;



  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  --animate-slide-from-left: slideFromLeft 1s ease forwards;
} */


@import "tailwindcss";

@theme {
  --breakpoint-lgx: 990px;
  --breakpoint-md-about: 800px;
  --breakpoint-md-hero: 755px;

  @keyframes slideFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  --animate-slide-from-left: slideFromLeft 1s ease forwards;
}

/* ✅ Add this part */
@custom-variant md-hero (width >=755px);